<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="c2dmsharp.client" android:versionCode="1" android:versionName="1.0">
  <!-- BEGIN C2DM Sharp Manifest Data
			 ============================== 
			 
			 Inculde this section in your app's AndroidManifest.xml file!
			 
			NOTE ON CONFIG: 
			You must replace all instances of {YOUR.PACKAGE} with your own
			package.name.  This should be the same as in your manifest tag:
				eg: <manifest package="{YOUR.PACKAGE}" ..
				
			Older MonoDroid versions may have duplicated the package name:
				eg: package="c2dmsharp.client.c2dmsharp.client"
			In this case, you should replace {YOUR_PACKAGE} with c2dmsharp.client
			Do not double up the namespace in this case!
			
			There are 2 instances of {YOUR.PACKAGE} to replace!
	-->
  <!-- We make an then use a custom permission so that   -->
  <permission android:name="__PackageName__.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="__PackageName__.permission.C2D_MESSAGE" />
  
  <uses-permission android:name="android.permission.INTERNET" />
	
	<!-- Need this to lookup the com.google accounts to use on for registering c2dm -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <!-- 
			 ==============================
		   END C2DM Sharp Manifest Data  
	 -->
  <application android:label="C2dmSharp.Client">
  </application>
  <uses-sdk android:minSdkVersion="8" />
</manifest>